#root {
  margin: 0 auto;
  text-align: center;
  height: 90vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
header {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
